<div layout="column" layout-fill>
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Soda</h1>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
            <md-toolbar class="md-tall md-hue-2 md-default-theme">
                <div layout="column" class="md-toolbar-tools-bottom inset" layout-align="center center">

                    <img src="./assets/images/drink-icon-web.png" class="avatar" />
                    <div>Soda</div>

                </div>
            </md-toolbar>
            <md-list>

            </md-list>
        </md-sidenav>
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
        <md-content flex id="content">

        </md-content>
    </div>
</div>
